* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('/backgrounds/forest.png');
}

h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #0a1d57;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', 'Arial Rounded MT Bold', sans-serif;
  font-size: 3em;
  text-shadow:
    2px 2px 0 #fef5fded,
    -1px -1px 0 #fef5fded,
    1px -1px 0 #fef5fded,
    -1px 1px 0 #fef5fded,
    0 0 12px #fef5fded;
  z-index: 10;
  pointer-events: none;
  line-height: 1.2;
  letter-spacing: 1px;
}

h1 span {
  display: block;
}

img {
  position: absolute;
  object-fit: cover;
  

  transition: all 0.3s ease;
  border-radius: 12px; 
  outline: none; 
  border: none; 
}

img:hover {
  box-shadow: 0 0 55px rgba(255, 0, 147, 0.7);
  transform: translateY(-5px); 
}

.image-1 {
  left: 2%;
  top: 25%;
  z-index: 5;
  transform: rotate(4deg);
}

.image-2 {
  left: 21%;
  top: 25%;
  z-index: 5;
  transform: rotate(-2deg);
}

.image-3 {
  left: 40.25%;
  top: 25%;
  z-index: 5;
}

.image-4 {
  left: 59%;
  top: 25%;
  z-index: 4;
  transform: rotate(15deg);
}

.image-5 {
  left: 80%;
  top: 25%;
  z-index: 5;
  transform: rotate(5deg);
}

.image-6 {
  left: -1%;
  top: 60%;
  z-index: 2;
  height: 400px;
  transform: rotate(-12deg);
}

.image-7 {
  left: 12%;
  top: 57%;
  z-index: 3;
  height: 400px;
  transform: rotate(-10deg);
}

.image-8 {
  left: 20%;
  top: 48%;
  z-index: 4;
  height: 400px;
  transform: rotate(14deg);
}

.image-9 {
  left: 28%;
  top: 65%;
  z-index: 1;
  height: 400px;
}

.image-10 {
  left: 39%;
  top: 56%;
  z-index: 1;
  height: 400px;
  transform: rotate(-40deg);
}

.image-11 {
  left: 55%;
  top: 60%;
  z-index: 3;
  height: 400px;
  transform: rotate(18deg);
}

.image-12 {
  left: 71%;
  top: 62%;
  z-index: 1;
  height: 400px;
  transform: rotate(30deg);
}

.image-13 {
  left: 74%;
  top: 42%;
  z-index: 2;
  height: 400px;
  transform: rotate(-35deg);
}

.image-14 {
  left: 86%;
  top: 60%;
  z-index: 3;
  height: 400px;
  transform: rotate(17deg);
}