* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('backgrounds/forest.png');
}

h1 {
  position: absolute;
  margin-left: 44%;
  margin-top: 25.5%;
  color: red;
  z-index: 6;
}

img {
  position: absolute;
  padding: 8px 8px 28px 8px;
  object-fit: cover;
  

  transition: all 0.3s ease;
  border-radius: 12px; 
  outline: none; 
  border: none; 
}

img:hover {
  box-shadow: 0 10px 25px rgba(255, 20, 147, 0.7);
  transform: translateY(-5px); 
}

.image-1 {
  left: 0%;
  top: 25%;
  z-index: 5;
}

.image-2 {
  left: 20%;
  top: 25%;
  z-index: 5;
}

.image-3 {
  left: 39%;
  top: 25%;
  z-index: 5;
}

.image-4 {
  left: 55%;
  top: 25%;
  z-index: 4;
}

.image-5 {
  left: 79%;
  top: 25%;
  z-index: 5;
}

.image-6 {
  left: -1%;
  top: 50%;
  z-index: 3;
}

.image-7 {
  left: 8%;
  top: 50%;
  padding: 5px 5px 18px 5px;
  z-index: 2;
}

.image-8 {
  left: 20%;
  top: 50%;
  padding: 5px 5px 18px 5px;
  z-index: 1;
}

.image-9 {
  left: 28%;
  top: 65%;
  padding: 5px 5px 18px 5px;
  z-index: 1;
}

.image-10 {
  left: 37%;
  top: 55%;
  padding: 4px 4px 14px 4px;
  z-index: 1;
}

.image-11 {
  left: 52%;
  top: 50%;
  transform: rotate(15deg);
  padding: 4px 4px 14px 4px;
  z-index: 1;
}

.image-12 {
  left: 55%;
  top: 60%;
  transform: rotate(-35deg);
  padding: 5px 5px 18px 5px;
  z-index: 1;
}

.image-13 {
  left: 68%;
  top: 50%;
  padding: 4px 4px 14px 4px;
  z-index: 1;
}

.image-14 {
  left: 85%;
  top: 50%;
  padding: 5px 5px 18px 5px;
  z-index: 1;
}